/* Custom Properties */

:root {
    --bg-gray: #eaeaea;
}


/* Utilities */


/* Generic */


/* Body */



/* Root  */

.main-app {
    height: 90vh;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
}


/* Sidebar main app */

#sidebar-main-app {
    height: 100%;
    width: 500px;
}

.header-sidebar {
    height: 80px;
    background-color: var(--bg-gray);
}

.header-sidebar-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Message Area */

#message-area {
    height: 100%;
    flex-grow: 1;
    background-color: blue;
}