/* Custom Properties */

:root {
    --bg-gray: #eaeaea;
    --color-icons: #b1b1b1;
    --lightblue: #8edafc;
}


/* Utilities */

.img-small-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-gray {
    color: gray;
}

/* Generic */

header .fa-solid {
    font-size: 25px;
    margin-right: 20px;
    color: var(--color-icons);
}

/* Body */
body {
    background: linear-gradient(to top, #d9dbd5 75%, #009688 75%); 
    height: 100vh;
    width: 100vw;
}


/* Root  */
.main-app {
    height: 90vh;
    width: 80vw;
    margin: auto;
    padding-top: 5vh;
}


/* Sidebar main app */
#sidebar-main-app {
    height: 100%;
    width: 500px;
    border-right: 1px solid blue;
}

.header-sidebar,
.header-message-area {
    height: 80px;
    background-color: var(--bg-gray);
}



/* Notice new message */
.notice-new-message .fa-solid {
    font-size: 30px;
    margin: 15px;
    color: var(--lightblue);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.notice-new-message {
    background-color: var(--lightblue);
}

.notice-desktop {
    text-decoration: underline;
}


/* Search input sidebar */
.search-chat .form-control {
    padding-left: 2.375rem;
    border-radius: 0;
}

.search-chat .form-control-chat {
    position: absolute;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: var(--color-icons);
}

.search-area {
    background-color: var(--bg-gray);
}


/* Chat Area */
.chat-area {
    background-color: white;
}

.chat-area .chat-user {
    background-color: white;
    border-bottom: 1px solid var(--bg-gray);
}

.chat-area img {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
}


/* Message Area */

#message-area {
    height: 100%;
    flex-grow: 1;
}


/* Message Views Area  */
.message-views-area {
    height: calc(100% - 180px);
    background-image: url(../img/mine.jpg);
}


.message .date-message {
    font-size: 0.75rem;
}

.message-views-area .message {
    border-radius: 10px;
    width: 40%;
    background-color: white;
}

.message-views-area .js-flex-end {
    display: flex;
    justify-content: end;
}

.message-views-area .js-sent-message {
    background-color: #d5f9ba;
}




/* Message Text area */
.message-text-area {
    height: 100px;
    background-color: var(--bg-gray);
}

textarea {
    resize: none;
}



