/* Custom Properties */

:root {
    --bg-gray: #eaeaea;
    --color-icons: #b1b1b1;
    --lightblue: #8edafc;
}


/* Utilities */


/* Generic */


/* Body */
body {
    background: linear-gradient(to top, #d9dbd5 75%, #009688 75%); 
    height: 100vh;
    width: 100vw;
}


/* Root  */
.main-app {
    height: 90vh;
    width: 80vw;
    margin: auto;
    padding-top: 5vh;
}


/* Sidebar main app */
#sidebar-main-app {
    height: 100%;
    width: 500px;
}

.header-sidebar {
    height: 80px;
    background-color: var(--bg-gray);
}


/* Header Sidebar left */
.header-sidebar-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Header Sidebar right */
.header-sidebar-right .fa-solid {
    font-size: 25px;
    margin-right: 20px;
    color: var(--color-icons);
}


/* Notice new message */
.notice-new-message .fa-solid {
    font-size: 30px;
    margin: 15px;
    color: var(--lightblue);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.notice-new-message {
    background-color: var(--lightblue);
}

.notice-desktop {
    text-decoration: underline;
    color: gray;
}


.search-chat .form-control {
    padding-left: 2.375rem;
    border-radius: 0;
}

.search-chat .form-control-chat {
    position: absolute;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: var(--color-icons);
}

.search-area {
    background-color: var(--bg-gray);
}




/* Message Area */

#message-area {
    height: 100%;
    flex-grow: 1;
    background-color: blue;
}